body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #008f81;
    margin: 0;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    height: 100vh;
}

header {
    width: 100%;
    text-align: center;
    margin-top: 30px; 
    transform: scale(1.1);
    background: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

h1 {
    color: #008f81; 
    font-size: 2.5rem; 
    margin-bottom: 20px;
}


form {
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto; 
}

form div {
    margin-bottom: 15px;
    width: 100%;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #008f81; /* Color principal de la web */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #006f60; /* Color más oscuro al pasar el cursor */
}

/* Estilo para mensaje de error */
#error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    display: none; 
}
